In [1]:
import pip as np
import pandas as pd

C:\Users\sohni\anaconda3\envs\mlenv\lib\site-packages\_distutils_hack\__init__.py:30: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

In [2]:
bitcoin_df = pd.read_csv("BTC-USD.csv")

In [3]:
bitcoin_df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-08-22,3998.350098,4128.759766,3674.580078,4100.520020,3764239872,0,0
1,2017-08-23,4089.010010,4255.779785,4078.409912,4151.520020,2369819904,0,0
2,2017-08-24,4137.600098,4376.390137,4130.259766,4334.680176,2037750016,0,0
3,2017-08-25,4332.819824,4455.700195,4307.350098,4371.600098,1727970048,0,0
4,2017-08-26,4372.060059,4379.279785,4269.520020,4352.399902,1511609984,0,0