In [ ]:
# pip install yfinance

In [26]:
import pip as np
import pandas as pd
import yfinance as yf
import plotly .graph_objs as go

# DOGE-USD

In [27]:
ticker = yf.Ticker('DOGE-USD')
df2= ticker.history(period="5y")
df2

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,0.001207,0.001415,0.001181,0.001415,6259550,0,0
2017-11-10,0.001421,0.001431,0.001125,0.001163,4246520,0,0
2017-11-11,0.001146,0.001257,0.001141,0.001201,2231080,0,0
2017-11-12,0.001189,0.001210,0.001002,0.001038,3288960,0,0
2017-11-13,0.001046,0.001212,0.001019,0.001211,2481270,0,0
...,...,...,...,...,...,...,...
2022-08-19,0.075045,0.075183,0.067536,0.067939,965543533,0,0
2022-08-20,0.067897,0.070961,0.067897,0.069540,537299425,0,0
2022-08-21,0.069529,0.070646,0.067847,0.069448,421455865,0,0
2022-08-22,0.069441,0.069489,0.065606,0.068391,453413439,0,0
2022-08-24,0.068799,0.068965,0.068700,0.068700,331769024,0,0

In [28]:
df2.to_csv("DOGE-USD.csv")

# BTC-USD

In [29]:
bitcoin_df = pd.read_csv("BTC-USD.csv")

In [30]:
bitcoin_df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-08-22,3998.350098,4128.759766,3674.580078,4100.520020,3764239872,0,0
1,2017-08-23,4089.010010,4255.779785,4078.409912,4151.520020,2369819904,0,0
2,2017-08-24,4137.600098,4376.390137,4130.259766,4334.680176,2037750016,0,0
3,2017-08-25,4332.819824,4455.700195,4307.350098,4371.600098,1727970048,0,0
4,2017-08-26,4372.060059,4379.279785,4269.520020,4352.399902,1511609984,0,0

# XRP-USD

In [31]:
ticker = yf.Ticker('XRP-USD')
df3= ticker.history(period="5y")
df3.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,0.217911,0.221791,0.214866,0.217488,147916992,0,0
2017-11-10,0.218256,0.219068,0.205260,0.206483,141032992,0,0
2017-11-11,0.205948,0.214456,0.205459,0.210430,134503008,0,0
2017-11-12,0.210214,0.210214,0.195389,0.197339,251175008,0,0
2017-11-13,0.197472,0.204081,0.197456,0.203442,132567000,0,0

In [32]:
df3.to_csv("XRP-USD.csv")

# Tether

In [33]:
ticker = yf.Ticker('USDT-USD')
df4= ticker.history(period="5y")
df4.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,1.01087,1.01327,0.996515,1.00818,358188000,0,0
2017-11-10,1.00650,1.02423,0.995486,1.00601,756446016,0,0
2017-11-11,1.00598,1.02621,0.995799,1.00899,746227968,0,0
2017-11-12,1.00602,1.10591,0.967601,1.01247,1466060032,0,0
2017-11-13,1.00448,1.02929,0.975103,1.00935,767884032,0,0

In [34]:
df3.to_csv("USDT-USD.csv")

# Ethereum USD (ETH-USD)

In [35]:
ticker = yf.Ticker('ETH-USD')
df4= ticker.history(period="5y")
df4.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,308.644989,329.451996,307.056000,320.884003,893249984,0,0
2017-11-10,320.670990,324.717987,294.541992,299.252991,885985984,0,0
2017-11-11,298.585999,319.453003,298.191986,314.681000,842300992,0,0
2017-11-12,314.690002,319.153015,298.513000,307.907990,1613479936,0,0
2017-11-13,307.024994,328.415009,307.024994,316.716003,1041889984,0,0

In [36]:
df4.to_csv("ETH-USD.csv")